[submodule "handlebars.js"]
	path = handlebars.js
	url = https://gist.github.com/cd0438508a0127af9b9f86a2a34623e5.git
[submodule "Trippy"]
	path = Trippy
	url = https://github.com/Tythos/Trippy.git
[submodule "TrippyButton"]
	path = TrippyButton
	url = https://github.com/Tythos/TrippyButton.git
[submodule "TrippyHeader"]
	path = TrippyHeader
	url = https://github.com/Tythos/TrippyHeader.git
